
Django==1.5.4

Jinja2==2.6
Mako==0.5.0
MarkupSafe==0.15

PIL==1.1.7
Pygments==1.4
South==0.7.3

XlsxWriter==0.5.3


argparse==1.2.1
boto==2.27.0


dj-static==0.0.5
django-storages==1.1.8


python-dateutil==1.5

simplejson==2.3.2

static==1.0.2
django-sslify==0.2.3

