{% extends "ciip/student/student_layout.html" %}
{% block content %}
              <form  method = "get">{% csrf_token %}
              <h2>Academic Info</h2>
              
            </form> 
            <p><a href="/ciip/edit_academic_info/" class="btn btn-primary btn-large">Edit Info &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              
 <form action="" method="get">{% csrf_token %}
 
 <p><strong>University:</strong> {{university}}</p>
 <p><strong>Year of graduation:</strong> {{year_of_graduation}}</p>
 <p><strong>Degree: </strong>{{degree}}</p>
 <p><strong>Average for last year: </strong> {{average}}</p>
<p><strong>Are you in good standing at your university? </strong> {{good_university}}</p>


      
  </form>

              
{% endblock %}