{% extends "ciip/student/student_layout.html" %}
{% block content %}
           
             <form  enctype="multipart/form-data" method = "post"  action="">{% csrf_token %}
 
 
              <h2>Upload a cover letter</h2>
              
            <br>

            <p><input type="submit" href="/ciip/profile_contact_info/" class="btn btn-primary btn-large" value="Upload Cover Letter"></p>
          </div>
          <div class="row-fluid">
        <div class="span4">
          <b>OPTIONAL: uploading a cover letter is optional.</b>
          

 <p>{{ form }}</p> 


      
  </form>

{% endblock %}