{% extends "ciip/student/student_layout.html" %}
{% block content %}
           
              <form  method = "post">{% csrf_token %}
              <h2>Edit Skills and Interests</h2>
              <br>
            
            <p><input type="submit" href="/ciip/skill_interest/" class="btn btn-primary btn-large" value="Save Changes"></p>
          </div>
          <div class="row-fluid">
        <div class="span4">
      <b>Please, fill all the fields in order to save the changes.</b>
 
<br>     
 
 <h3>Technical Skills</h3>
 <p>Please enter three techincal skills and your level of proficiency in those. Enter None if any.</p>
 <p>{{ form.as_p }}</p>
 <h3>Interests related to Business and/or Technology</h3>
<p>Please enter three interests and hobbies not strictly academic related.</p>
 <p>{{ form2.as_p }}</p>

      
  </form>

{% endblock %}