{% extends "ciip/student/student_layout.html" %}
{% block content %}
           
              <form  method = "get">{% csrf_token %}
              <h1>Interview</h1>
              <p><strong>Date Scheduled: {%if date_interview == Null %} Not scheduled yet {% else %} {{date_interview}}, Pacific Time {% endif %}</strong></p>
              <h3>Final interviews to be complete by <strong>April 25th</strong></h3>
              </form> 
          
          </div>

          <div class="row-fluid">
            <div class="span4">

              <form action="" method="post">{% csrf_token %}
                <p>Confirm interview date and time: 
                  <select name="interview_response">
                   <option value="" disabled="disabled" selected="selected">{{interview_response}}</option>
                       <option value="accepted">Accept</option>
                       <option value="declined">Decline</option>
                       <option value="ask to reschedule">Ask to reschedule</option>
                </select> </p>
                <p><input type="submit"   class="btn btn-primary btn-small" value="Confirm"></p>
                <!--<p>Webex_link (to be replaced by icon below): {{webex_link}}</p>    -->           
              </form>



            </div>
          </div>
            
          

</div>
</div>

</div>
{% endblock %}