{% extends "ciip/student/student_layout.html" %}
{% block content %}
           
              <form  method = "get">{% csrf_token %}
              <h2>Motivational Questions</h2>
              
            </form> 
            <p><a href="/ciip/edit_motivational_questions/" class="btn btn-primary btn-large">Edit Questions &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              
 <form action="" method="get">{% csrf_token %}
 <b>Question 1</b>
 <p>Describe a situation outside of your academic activities in which you pursued your interests and took initiative in a team. Describe which role you took within the team and how you contributed to the success of that team: </p> 
 <p>{{question_1}}</p>
 <br>
 <b>Question 2</b>
 <p>Cisco is a company based on collaboration and communication between its employees. It is a fast changing environment in which people have to adapt quickly. Describe, using examples from previous experiences, how you would fit in the company's culture:</p>
 <p> {{question_2}}</p>
<br>
 <b>Question 3</b>
 <p>If you do get accepted in the program what would it be your ideal role and what would you like to learn about:</p>
 <p> {{question_3}}</p>

      
  </form>

              {% endblock %}