{% extends "ciip/student/student_layout.html" %}
{% block content %}
           
              <form  method = "get">{% csrf_token %}
              <h2>Contact Info</h2>
              
            </form> 
            <p><a href="/ciip/edit_contact_info/" class="btn btn-primary btn-large">Edit Info &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              
 <form action="" method="get">{% csrf_token %}
  <h3>Personal Info</h3>
 <p><strong>Gender: </strong> {{profile.gender}}</p>
 <p><strong>First name: </strong>{{profile.first_name}}</p>
 <p><strong>Last name: </strong>{{profile.last_name}}</p>
 <p><strong>Full name: </strong>{{profile.full_name}}</p>
  <!--<p><strong>Birth date: </strong>{{birth_date}}</p>-->
<p><strong>Valid passport:</strong> {{profile.passport}}</p>
 <!--<p>Birth date day: {{birt_date_day}}</p>
 <p>Birth date month: {{birt_date_month}}</p>
 <p>Birth date year: {{birt_date_year}}</p>-->
<h3>Passport Info</h3>

<p><strong>Passport number:</strong> {{passport_number}}</p>
<p><strong>Date of expiration:</strong> {{date_expiration}}</p>
<p><strong>Country that issued the passport:</strong> {{country_issued}}</p>


 <h3>Contact Info</h3>
 <p><strong>Alternative email address: </strong>{{profile.email}}</p>
 <p><strong>Phone number: </strong> {{profile.phone}}</p>
 <p><strong>Current address</strong></p>
 <p><strong>Address line 1: </strong>{{profile.address_line1}}</p>
 <p><strong>Address line 2: </strong>{{profile.address_line2}}</p>
 <p><strong>City: </strong>{{profile.city}}</p>
 <p><strong>Zip code/Post code: </strong>{{profile.zip_code}}</p>
 <p><strong>Country: </strong>{{profile.country}}</p>

<!--<h3>Emergency Contact:</h3>
<p><strong>Full name of the emergency contact:</strong> {{full_name_emergency}}</p>
<p><strong>Relationship to you:</strong> {{relationship}}</p>
<p><strong>Emergency contact phone number:</strong> {{phone_emergency}}</p>
<p><strong>Emergency contact email:</strong> {{email_emergency}}</p>-->



      
  </form>

{% endblock %}