{% extends "ciip/student/student_layout.html" %}
{% block content %}
           
           
             <form  enctype="multipart/form-data" method = "get"  action="">{% csrf_token %}
 
 
              <h2>Upload your CV</h2>
              
            <br>

           
          </div>
          <div class="row-fluid">
        <div class="span4">
          <b>Please follow the template provided with this link. The CV should not be more than 2 pages long.</b>
          <p>       <a href="https://s3-us-west-2.amazonaws.com/ciip.media/cv_sample.docx" ><strong>CV sample</strong></a></p>

 <p>File name:<a href="https://s3-us-west-2.amazonaws.com/ciip.media/media/{{cv}}">{{ cv }}</a></p> 


      
  </form>

{% endblock %}