{% extends "ciip/student_layout.html" %}
{% block content %}
           
              <form  method = "post">{% csrf_token %}
              <h2>Edit Contact Info</h2>
              <br>
            
            <p><input type="submit" href="/ciip/profile_contact_info/" class="btn btn-primary btn-large" value="Save Changes"></p>
          </div>
          <div class="row-fluid">
        <div class="span4">
     <b>Please, fill all the fields in order to save the changes.</b>
 
<br>      
 
 <h3>Personal Info</h3>
 <p>Gender:</p>
 <p>{{form.gender}}</p>
 <p>First name (as it appears on the passport):</p>
 <p>{{ form.first_name }}</p>
 <p>Last name (as it appears on the passport):</p>
 <p>{{ form.last_name }}</p>
  <p>Full name (as it appears on the passport):</p>
 <p>{{ form.full_name }}</p>
  <h3>Passport Info</h3>
 <p>Do you have a valid passport?</p>
 <p>{{form.passport}}</p>
  <p>Passport number:</p>
 <p>{{form.passport_number}}</p>
  <p>Expiration date (format YYYY-MM-DD):</p>
 <p>{{form.date_expiration}}</p>
   <p>Country that issued the passport:</p>
 <p>{{form.country_issued}}</p>
<!--<p>Birth date:</p>
 <p>{{ form.birth_date }}</p>-->



 <!--<h3>Passport Information:</h3>
 
<p>Passport Number:</p>
 <p>{{form.passport_number}}</p>
 <p>Date issued:</p>
 <p>{{form.date_issued}}</p>
  <p>Date of expiration:</p>
 <p>{{form.date_expiration}}</p>
  <p>Country that issued the passport:</p>
 <p>{{form.country_issued}}</p>

<p><strong>Disclaimer:</strong> your passport must be valid from the time of application and origin of your country through end of proposed internship. Valid through July 2015 to be considered for this program. </p>-->



<h3>Contact Info</h3>
<p>Alternative email address( different from the university email address):</p>
 <p>{{ form.email }}</p>
 <p>Phone number( insert country code as well):</p>
 <p>{{ form.phone }}</p>
 <p><strong>Current address</strong></p>
 <p>Address line 1:</p>
 <p>{{form.address_line1}}</p>
  <p>Address line 2 (Insert None if it is only one line):</p>
 <p>{{form.address_line2}}</p>
  <p>City:</p>
 <p>{{form.city}}</p>
  <p>Zip code/Post code:</p>
 <p>{{form.zip_code}}</p>
  <p>Country:</p>
 <p>{{form.country}}</p>

<!--<h3>Emergency Contact:</h3>
<p>Full name of the emergency contact:</p>
 <p>{{form.full_name_emergency}}</p>
 <p>Relationship to you:</p>
 <p>{{form.relationship}}</p>
 <p>Emergency contact phone number:</p>
 <p>{{form.phone_emergency}}</p>
 <p>Emergency contact email:</p>
 <p>{{form.email_emergency}}</p>-->
      
  </form>

{% endblock %}