{% extends "ciip/layout_manager.html" %}
{% block content %}
              <form  method = "post">{% csrf_token %}
              <h2>Edit Manager Info:</h2>
              <br>
            
            <p><input type="submit" href="/ciip/uniadmin_info/" class="btn btn-primary btn-large" value="Save Changes"></p>
          </div>
          <div class="row-fluid">
        <div class="span4">
          
 
 


					 <p>First name:</p>
					 <input type="text" class="input-block-level" placeholder="First name" name="first_name" value ="{{manager_profile.first_name}}">
					 <p>Last name:</p>
					<input type="text" class="input-block-level" placeholder="Last name" name="last_name" value ="{{manager_profile.last_name}}">
					<hr class="featurette-divider">
					<h3><b>DS 7002 Info</b></h3>
					<p>Job Title:</p>
					<input type="text" class="input-block-level" placeholder="Job title" name="job_title" value ="{{manager_profile.job_title}}">
					<p>Degree (Academic degree)</p>
					<input type="text" class="input-block-level" placeholder="Academic Degree" name="degree" value ="{{manager_profile.degree}}">
					<p>Field (Professional field of expertise )</p>
					<input type="text" class="input-block-level" placeholder="Field" name="field" value ="{{manager_profile.field}}">
					<p>Business Unit</p>
					<input type="text" class="input-block-level" placeholder="Business Unit" name="group" value ="{{manager_profile.group}}">
					<p>Years of experience in the Industry</p>
					<input type="text" class="input-block-level" placeholder="Years of experience" name="year_experience" value ="{{manager_profile.year_experience}}">
														
														


					<br>
					<hr class="featurette-divider">
					<label>Coordinator:</label>
					 <select name="coordinator">
					<option value="No">No</option>
					<option value="yes">Yes</option>
					</select> 
					<hr class="featurette-divider">
					 <label>Please enter which area best describes your group:</label>
					 <select name="business_unit">
					<option value="{{manager_profile.business_unit}}">{{manager_profile.business_unit}}</option>
					<option value="Engineering">Engineering</option>
					<option value="Openstack / Engineering">Openstack / Engineering</option>
					<option value="SDN / Engineering">SDN / Engineering</option>
					<option value="Security / Engineering">Security / Engineering</option>
					<option value="IT">IT</option>
					<option value="GIS / IT">GIS / IT</option>
					<option value="CSTG">CSTG</option>
					<option value="Marketing">Marketing</option>
					<option value="Sales">Sales</option>
					<option value="Technology radar">Technology radar</option>
					<option value="Corporate Technology Group">Corporate Technology Group</option>
					<option value="CTAO">CTAO</option>
					<option value="Research">Research</option>
					<option value="Collaboration / IT">Collaboration / IT</option>
					<option value="CSMTG / Engineering">CSMTG / Engineering</option>
					<option value="ONE PK / Engineering">ONE PK / Engineering</option>
					<option value="Services / TAC">Services / TAC</option>
					</select></p>
					<hr class="featurette-divider">
					 <p>Skill 1:</p>
					<input type="text" class="input-block-level" placeholder="skill..." name="skill_1" value ="{{manager_profile.skill_1}}"> 
					 <p>Skill 2:</p>
					<input type="text" class="input-block-level" placeholder="skill..." name="skill_2" value ="{{manager_profile.skill_2}}"> 
					 <p>Skill 3:</p>
					<input type="text" class="input-block-level" placeholder="skill..." name="skill_3" value ="{{manager_profile.skill_3}}"> 
					<hr class="featurette-divider">
					 <p>Interest 1:</p>
					<input type="text" class="input-block-level" placeholder="interest..." name="interest_1" value ="{{manager_profile.interest_1}}"> 
					 <p>Interest 2:</p>
					<input type="text" class="input-block-level" placeholder="interest..." name="interest_2" value ="{{manager_profile.interest_2}}"> 
					 <p>Interest 3:</p>
					<input type="text" class="input-block-level" placeholder="interest..." name="interest_3" value ="{{manager_profile.interest_3}}"> 

					<p><b>Job description:</b></p>
					<textarea name="work_description">{{manager_profile.work_description}}</textarea>
					  </form>

{% endblock %}