{% extends "ciip/layout_manager.html" %}
{% block content %}
           
              <h1>Guidelines</h1>
            
          </div>
      
          <div class="row-fluid">
            <div class="span9" >
              
              <ol>
                <li>Once logged in please make sure your skills and interests are up-to-date in <i>General Info</i> in order for a list of <i>best match</i> applicants to be shown.</li><br>
                <li><i>Home</i> will allow you to view a list of the applicants. You can narrow the selection by:</li><br>
              <ul>
                <li>Search by specific skills (e.g. java, networks, etc.)</li>
                <li>Filter by ranking (e.g. 1, 2, 3), status (e.g. interviewing, etc.), university (UCL, Tsinghua, etc.)</li>
              </ul><br>
                <li>For each applicant you can <i>Download CV</i> or <i>Schedule Interview</i>.</li><br>
                <li>Once <i>Schedule Interview</i> is selected your are shown the best time to contact that applicant and if they have other interviews.</li><br>
                <li>Once you have chosen a date and time, there is the option to interview via <i>Skype</i>, in which case please enter your skype name and select <i>Schedule Interview</i> at the bottom of the page, the student will recieve a notification email. Otherwise use <i>Send Mail</i> to set up a WebEx followed by <i>Schedule Interview</i> and the interview will be added to your Outlook.</li><br>

                <li>On the left will be a list of your scheduled interviews. Each hiring manager has a limit of 5 interviews scheduled at once. To remove and cancel an interview click <i>x</i></li><br>
                <li>By selecting <i>My Students</i> on the left navigation bar you have the option to:</li><br>
                <ul>
                  <li><i>Download CV</i> - review their CV</li>
                  <li><i>More Info and Interview Comment</i> - enter comments from the interview</li>
                  <li><i>Send Message</i> - send an instant message to the applicant</li>
                </ul><br>
                <li>Once you make an offer to a student the other managers will not be able to change the offer status.</li><br>
                <li><strong>Please email <i>ciip_office@external.cisco.com</i> before you make an official offer.</strong></li>
              </ol>

            </div>
            
              <hr class="featurette-divider">
            
            </div><!--/span-->
{% endblock %}