{% extends "ciip/student_layout.html" %}
{% block content %}
              <form  method = "get">{% csrf_token %}
              <h2>Skills and Interests</h2>
              
            </form> 
            <p><a href="/ciip/edit_skill_interest/" class="btn btn-primary btn-large">Edit Info &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              
 <form action="" method="get">{% csrf_token %}
  <br>
 <h3>Technical Skills</h3>
 <p>Skill 1: {{skill_1}}      Level: {{skill_level_1}}</p>
 <p>Skill 2: {{skill_2}}      Level: {{skill_level_2}}</p>
 <p>Skill 3: {{skill_3}}      Level: {{skill_level_3}}</p>
 <br>
 <h3>Interests related to Business and/or Technology</h3>
 <p>Interests 1: {{interest_1}} </p>
 <p>Interests 2: {{interest_2}} </p>
 <p>Interests 3: {{interest_3}} </p>





      
  </form>

{% endblock %}