{% extends "ciip/student_layout.html" %}
{% block content %}
           
              <form  method = "get">{% csrf_token %}
              <h2>Work and Internship Experience</h2>
              
            </form> 
            <p><a href="/ciip/edit_work_internship/" class="btn btn-primary btn-large">Edit Questions &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              
 <form action="" method="get">{% csrf_token %}
  <h3>Work</h3>
 <b>Work Experience 1:</b>
 <p>{{experience_1}}</p>
 <br>
 <b>Work Experience 2:</b>
 <p>{{experience_2}}</p>
 <br>
 <h3>Internships</h3>
 <b>Internship 1:</b>
 <p>{{internship_1}}</p>
 <br>
 <b>Internship 2:</b>
 <p>{{internship_2}}</p>
 <br>


      
  </form>

              
{% endblock %}